body{
    background-color:#4BB07D;
    color: white;
    font-family:arial;
}
h1{
       font-family:arial;
       font-size: 45px; 
       color: white; 
       text-align:center;
}
h2, h3, p{
     text-align:center;
}
img{
    display:block;
     margin:0 auto;
}
#diana{
     width: 240px;
     height: 220px;
     border-radius: 50%;
     border: 2px solid #ff0000;
}
button{
    display: block;
    margin: 0 auto;
    color:black ;
    background-color: #04447A;
    padding: 15px 32px
}
#diana:hover {
    box- shadow: 0 0 2px 1px red;
  transform: scale(1.5);
}
button:hover{
 background-color:green;
}
#tabla1 tr:hover {
   background-color:green;
}
#tabla1 tr:hover {
    background-color: white;
}
#imgDiv{
     width: 240px;
     height: 220px;
}
.noticias {
  border: 5px ridge black;
  background-color: green;
  padding: 2xpx; 
  display: flex;
  flex-direction: column;
}
.noticias p{
  font-family: Fantasy;
  text-align: center;
}
  